# Ridge and Lasso Regression

In [19]:
# import Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [20]:
data = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')

In [21]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [22]:
data.select_dtypes(include= ['object']).keys()
#  so we have this column with catogorical data type 
# machine learning model does't woek with cat data

Index(['date'], dtype='object')

In [24]:
data_clean =  data.drop('date' , axis = 1)

In [26]:
data_clean.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [27]:
# to seperate dependent and independent varaible
# price is dependent variable
x = data_clean.drop('price' , axis = 1)
y = data_clean['price']

print('Shape of the independent variables : ' , x.shape)
print('Shape of the dependent varible' , y.shape)

Shape of the independent variables :  (21613, 19)
Shape of the dependent varible (21613,)

In [59]:
# now i am going to split data for training and test
from sklearn.model_selection import train_test_split

x_train , x_test , y_train ,y_test = train_test_split(x , y , test_size = 0.3)

print('Shape of x_train is :' ,x_train.shape)
print('Shape of y_train is :' ,y_train.shape)
print('Shape of x_test is :' ,x_test.shape)
print('Shape of y_test is :' ,y_test.shape)

Shape of x_train is : (15129, 19)
Shape of y_train is : (15129,)
Shape of x_test is : (6484, 19)
Shape of y_test is : (6484,)

In [60]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [61]:
model.fit(x_train , y_train)

LinearRegression()

In [62]:
model.predict(x_test)

array([ 160902.32243715, 2198669.5335116 ,  138283.58782173, ...,
        828633.5347264 ,  306647.52334036,  448243.09115785])

In [63]:
model.score(x_train , y_train)

0.7069761599074708

In [64]:
model.score(x_test , y_test)

0.6830751904311567

# Ridge and Lasso Regression

In [65]:
from sklearn.linear_model import Ridge , Lasso
r = Ridge()

In [66]:
r.fit(x_train , y_train)
r.score(x_test , y_test)

C:\Users\Attaur Rahman\anaconda3\envs\Machine_Learning\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=8.02121e-24): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

0.683003242012462

In [67]:
lass = Lasso()
lass.fit(x_train , y_train)

lass.score(x_test , y_test)

C:\Users\Attaur Rahman\anaconda3\envs\Machine_Learning\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.673e+14, tolerance: 1.998e+11
  model = cd_fast.enet_coordinate_descent(

0.6830728069857066

In [72]:
lass2 = Lasso(alpha=7)
lass2.fit(x_train , y_train)

lass2.score(x_test , y_test)

C:\Users\Attaur Rahman\anaconda3\envs\Machine_Learning\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.674e+14, tolerance: 1.998e+11
  model = cd_fast.enet_coordinate_descent(

0.6830584232340109