In [1]:
# import Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')

In [3]:
data.select_dtypes(include= ['object']).keys()

Index(['date'], dtype='object')

In [4]:
data_clean = data.drop(columns= 'date' , axis = 1)

In [10]:
data_clean.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
x = data_clean.drop(columns = 'price' , axis = 1)
y = data_clean['price']

print('Shape of x is : ' , x.shape)
print('Shape of y is :' , y.shape)

Shape of x is :  (21613, 19)
Shape of y is : (21613,)

In [18]:
# split data for training and testing
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2)


print('Shape of x_train is : ' , x_train.shape)
print('Shape of y_train is :' , y_train.shape)
print('Shape of x_test is : ' , x_test.shape)
print('Shape of y_test is :' , y_test.shape)

Shape of x_train is :  (17290, 19)
Shape of y_train is : (17290,)
Shape of x_test is :  (4323, 19)
Shape of y_test is : (4323,)

# train model

In [19]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [20]:
model.fit(x_train , y_train)

LinearRegression()

In [30]:
y_predicted = model.predict(x_test)

In [31]:
y_test

2948     265000.0
13358    690000.0
3563     529000.0
20118    290000.0
12419    214950.0
           ...
15766    407500.0
12545    735000.0
4661     540000.0
17325    739000.0
1091     448000.0
Name: price, Length: 4323, dtype: float64

In [32]:
model.score(x_train , y_train)

0.7021643346491963

In [33]:
model.score(x_test , y_test)

0.6902111708127004

# Model evaluation

In [36]:
from sklearn.metrics import mean_squared_error

In [38]:
mse = mean_squared_error(y_test , y_predicted)
rmse = np.sqrt(mean_squared_error(y_test , y_predicted))
print('mse : ' , mse)
print('rmse : ' , rmse)

mse :  47673969069.66461
rmse :  218343.694824615